@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

.App{
  color: white;
}
body{
  font-family: 'Montserrat';
}
hr .solid{
  border-top: 5px solid white;
}

#TopSection{
  background-color: #5DADE2;
}

#MainSection{
  background-color: #3498DB;
}

#ExpHeader{
  background-color: #3498DB;
}
#ExpLink{
  background-color: #3498DB;
}

#EdSect{
  background-color: #2E86C1;
}
#EducationHeader {
  background-color: #2E86C1;
}

#ProjSect{
  background-color: #2874A6;
}

#ProjectHeader{
  background-color: #2874A6;
}
#Contact_Info{
  background-color: #1B4F72 ;
 }
.BulletPoints{
  text-align: center;
  padding-inline-start: 0;
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 10px 0;
}

#pfp{
  height: 300px;
  width: auto;
}

.BulletPointsList{
  text-align: left;
  border: 10px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.ExpBulletPoints{
  text-align: left;
  list-style: none;
}

.MainHeaders{
  width: 100%; 
  /*text-align: center;*/
  position: relative;
}

.MainHeaders span { 
  /*
  background:#7A8676; 
  */
  padding:0 10px; 
}

.Card-Info{
  position: relative;
  top: 0px;
}
.myImages{
  width: 85%;
  height: auto;
}

#PersonalLogo{
  height:60px;
  width: auto;
  position: relative;
  left: 5px;
}
.Social_Link{
  float: left;
  list-style: none;
  margin: 0 15px;
}

#Socials_list{
  text-align: center;
  justify-content: center;
  display:flex;
}
#Gmail_Logo{
  width: 60px;
  height: auto;
  position: relative;
  top: 5px;
}
#Linkedin_Logo{
  width: 60px;
  height: auto;
  position: relative;
  top: 5px;
}

#Github_Logo{
  width: 60px;
  height:auto;
}

#ContactHeaderSpan{
  
}

.dot{
height: 5px;
width: 5px;
background-color: white;
border-radius: 50%;
margin: 0 0 4px 5px;
display: inline-block;
}

#Section_ID{
  height: 100%;
  width: 100%;
  object-fit:contain;
}

#Intro_Desc{
  font-weight: normal;
  font-size: 20px;
}

#Introduction{
  /*
  INTRODUCTION & NAME_INTRO ARE RELATED

  I need to make the intro reponsive, since the image current moves 
  while the text doesn't.
  */
  position: relative;
  display: inline-block;
}

#Name_Intro{
position: absolute;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}