.App{
    /*
    background-color: #d4a373;
    */
}
hr .solid{
    border-top: 5px solid white;
}
#TopSection{
    background-color: #B2AC88;
    border-radius: 15px;
    height: 40vh;
}

#MainSection{
    background-color: #7A8676;
    border-radius: 15px;
    height: 220vh;
}
#BottomSection{
    background-color: #B2AC88;
    border-radius: 15px;
    height: 18vh;
}
#SpaceFiller {
    background-color:#d4a373;
    height: 10px;
}
.BulletPoints{
    text-align: center;
    padding-inline-start: 0;
    list-style: disc;
    list-style-position: inside;
    margin: 0 0 10px 0;
}

#pfp{
    height: 300px;
    width: auto;
  }
.BulletPointsList{
    border: 10px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.ExpBulletPoints{
    text-align: center;
    padding-inline-start: 0;
    list-style: none;
    list-style-position: inside;
    margin: 0 0 10px 0;
}

.MainHeaders{
    width: 100%; 
    text-align: center;
    margin: 20px 0 20px; 
    text-decoration: underline;
}
 
.MainHeaders span { 
    background:#7A8676; 
    padding:0 10px; 
}
.Card-Info{
    position: relative;
    top: 0px;
}
.myImages{
    width: 85%;
    height: auto;
}
.Exp_sections{
    
}
#ExpHeader{
    background:#7A8676; 
}
#PersonalLogo{
    height:60px;
    width: auto;
    position: relative;
    left: 5px;
}
.Social_Link{
    float: left;
    list-style: none;
    margin: 0 15px;
}
#Socials_list{
    text-align: center;
    justify-content: center;
    display:flex;
}
#Gmail_Logo{
    position: relative;
    top: 10px;
}
#Contact_Info{
   
}

#ContactHeaderSpan{
    
}
.card-header{
    background-color: red;
    box-shadow: none;
}

.dot{
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  margin: 0 0 4px 5px;
  display: inline-block;
}
#Introduction{
/*
I need to make the intro reponsive, since the image current moves 
while the text doesn't.
*/
}
#Section_ID{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
#Intro_Desc{
    font-weight: normal;
    font-size: 20px;
}
#Name_Intro{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}